html {
    scroll-behavior: smooth;
}

body {
    padding: 0 50px;
    margin: 0;
    font-family: 'Almarai', sans-serif;
    color: #FCF6F5FF;
    background-color: #2BAE66FF;
    background-color: dodgerblue;
}

h1 {
    text-align: center;
    margin: 35px 0;
    font-weight: 500;
    font-size: 40pt;
}

fieldset {
    font-weight: 500;
    font-size: 16pt;
    padding: 10px;
    border: 3px solid #FCF6F5FF;
    border-radius: 10px;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    margin-bottom: 35px;
    padding-top: 30px;
}

fieldset legend {
    border: 2px solid #FCF6F5FF;
    border-radius: 10px;
    padding: 2px 8px;
    display: inline-block;
    position: absolute;
    top: -22px;
    right: 45px;
    background-color: #fff;
    color: dodgerblue;
    
}